<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TelCo.</title>

    <link rel="stylesheet" href="../css/bootstrap.css" data-th-href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../css/style.css" data-th-href="@{/css/style.css}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<div class="wrapper">


    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light dream-navbar shadow-sm">
            <div class="container-fluid">
                <a class="btn btn-toolbar text-white" href="index.html" data-th-href="@{/}">
                    <h3><i class="fas fa-phone"></i> Co.</h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-white" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="#" data-th-href="@{/admin/dashboard}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" data-th-href="@{/admin/stats}">Statistics</a>
                        </li>
                    </ul>
                </div>
                    <a class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"><div class="hstack gap-3"><strong data-th-text="|${user.getName()} ${user.getSurname()}|">Username</strong> <img src="assets/placeholder_user.png" data-th-src="@{/assets/placeholder_user.png}" class="rounded-circle profile-img" /></div></a>
                    <ul class="dropdown-menu dropdown-menu-end profile-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" data-th-href="@{/admin/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
            </div>
        </nav>
        <div class="page">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="package-tab" data-bs-toggle="tab" data-bs-target="#package" type="button" role="tab" aria-controls="package" aria-selected="true">Packages</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="false">Services</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="optional-tab" data-bs-toggle="tab" data-bs-target="#optional" type="button" role="tab" aria-controls="optional" aria-selected="false">Optional products</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="package" role="tabpanel" aria-labelledby="package-tab">
                          <h5 class="mt-3">PACKAGES</h5>
                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-primary">ADD NEW</h6>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                            <h5 class="mt-3">SERVICES</h5>
                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-primary">AVAILABLE</h6>
                                    <table class="table table-striped">
                                        <thead><th>Service</th><th>Minutes</th><th>Sms</th><th>Internet</th><th>Extra Minutes</th><th>Extra Sms</th><th>Extra Internet</th></thead>
                                        <tbody>
                                        <tr data-th-each="s: ${service}"><td data-th-text="${s.getName()}"></td><td data-th-text="${s.getMin()}"></td><td data-th-text="${s.getSms()}"></td><td data-th-text="${s.getInternet()}"></td></td><td data-th-text="${s.getExtraMin()}"></td><td data-th-text="${s.getExtraSms()}"></td><td data-th-text="${s.getExtraInternet()}"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-primary">ADD NEW</h6>
                                    <form method="POST" action="" data-th-action="@{/admin/service/post}">
                                        <div class="row mt-3">
                                            <div class="col-12 mb-3">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_name"><i class="fas fa-user"></i> </span>
                                                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="s_name" name="s_name">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="serviceType" id="mobilePhone" value="mobilePhone">
                                                    <label class="form-check-label" for="mobilePhone">Mobile phone</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="serviceType" id="fixedPhone" value="fixedPhone">
                                                    <label class="form-check-label" for="fixedPhone">Fixed phone</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="serviceType" id="fixedInternet" value="fixedInternet">
                                                    <label class="form-check-label" for="fixedInternet">Fixed internet</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="serviceType" id="mobileInternet" value="mobileInternet">
                                                    <label class="form-check-label" for="mobileInternet">Mobile internet</label>
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 minute-div" >
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_min"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Minutes" aria-label="Minutes" aria-describedby="s_min" name="s_min">
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 sms-div">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_sms"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Sms" aria-label="Sms" aria-describedby="s_sms" name="s_sms">
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 internet-div">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_internet"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Internet" aria-label="Internet" aria-describedby="s_internet" name="s_internet">
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 minute-div">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_min_e"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Extra minutes" aria-label="Extra minutes" aria-describedby="s_min_e" name="s_min_e">
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 sms-div">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_sms_e"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Extra sms" aria-label="Extra sms" aria-describedby="s_sms_e" name="s_sms_e">
                                                </div>
                                            </div>
                                            <div class="col-4 mb-3 internet-div">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="s_internet_e"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Extra internet" aria-label="Extra internet" aria-describedby="s_internet_e" name="s_internet_e">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <input type="submit" class="btn btn-success mt-3 float-end" value="Add"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="optional" role="tabpanel" aria-labelledby="optional-tab">
                            <h5 class="mt-3">OPTIONAL PRODUCTS</h5>
                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-primary">AVAILABLE</h6>
                                    <table class="table table-striped">
                                        <thead><th>Optional product</th><th>&euro;/month</th></thead>
                                        <tbody>
                                        <tr data-th-each="o: ${optionalProduct}"><td data-th-text="${o.getName()}"></td><td><span data-th-text="${o.getPrice()}"></span> &euro;</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-primary">ADD NEW</h6>
                                    <form method="POST" action="" data-th-action="@{/admin/optional/post}">
                                        <div class="row mt-3">
                                            <div class="col-8">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="o_name"><i class="fas fa-user"></i> </span>
                                                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="o_name" name="o_name">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="o_price"><i class="fas fa-euro-sign"></i></span>
                                                    <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="o_price" name="o_price">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <input type="submit" class="btn btn-success mt-3 float-end" value="Add"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="../js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
            <div class="modal-header border-0">
                <h3 class="text-white">Error</h3>
            </div>
            <div class="modal-body">
                <p class="text-white" id="errorContent"></p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function (){
        const urlSearchParams = new URLSearchParams(window.location.search);
        if(urlSearchParams.has('evn') && urlSearchParams.get('evn') === "error"){
           var e_type = urlSearchParams.get('err');
           var msg = "Generic error";
           if(e_type === "bad_credential") {
               msg = "Invalid username or password.";
           } else if (e_type === "at_exception") {
               msg = "The username can't contains the character \"@\".";
           } else if (e_type === "not_equal_password") {
               msg = "The passwords inserted don't match.";
           } else if (e_type === "username_existing") {
               msg = "The username you have used already exists.";
           } else if (e_type === "email_existing") {
               msg = "The email you have used already exists.";
           }
           $('#errorContent').text(msg);
           $('#errorModal').modal('show');
        }

        $('.internet-div').hide();
        $('.sms-div').hide();
        $('.minute-div').hide();

        $('input[name="serviceType"]').on('click change', function(e) {
            var val = $(e.target).val();
            if(val === 'fixedPhone'){
                $('.internet-div').hide();
                $('.sms-div').hide();
                $('.minute-div').hide();
            } else if (val === 'mobilePhone') {
                $('.internet-div').hide();
                $('.sms-div').show();
                $('.minute-div').show();
            } else if (val === 'mobileInternet' || val === 'fixedInternet') {
                $('.internet-div').show();
                $('.sms-div').hide();
                $('.minute-div').hide();
            }
        });

    });
</script>

</body>

</html>
